@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Reddit Sans Condensed", sans-serif;
}

.p-content{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}